---
name: Run Simkube Simulation

on:  # yamllint disable-line rule:truthy
  workflow_call:

jobs:
  launch-runner:
    name: Launch custom Simkube runner in AWS EC2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Launch Ephemeral Runner
        uses: ./actions/launch-runner
        with:
          ami-id: ${{ inputs.ami-id }}
          instance-type: ${{ inputs.instance-type }}
          aws-region: ${{ inputs.aws-region }}
          simkube-runner-pat: ${{ secrets.SIMKUBE_RUNNER_PAT }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          subnet-id: ${{ inputs.subnet-id }}
          security-group-ids: ${{ inputs.security-group-ids }}

  simulate:
    name: Run Simkube Simulation
    needs: launch-runner
    runs-on: [self-hosted, simkube, ephemeral]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run simulation
        id: run
        uses: ./actions/run-simulation
        with:
          simulation-name: ${{ inputs.simulation-name }}
          duration: ${{ inputs.duration }}
          speed: ${{ inputs.speed }}
          trace-path: ${{ inputs.trace-path}}
