---
name: Test run simulation action

on: [workflow_dispatch, pull_request]  # yamllint disable-line rule:truthy

jobs:
  test-run:
    uses: ./.github/workflows/run.yml
    with:
      ami-id: ami-0ac57be3bde538a47
      aws-region: us-west-2
      duration: +5m
      instance-type: c7a.xlarge
      security-group-ids: sg-0fd593b495c5e0ffd
      simulation-name: test-sim
      subnet-id: subnet-0cd4625c825e73e61
      trace-path: ./cronjob.sktrace
    secrets:
      SIMKUBE_RUNNER_PAT: ${{ secrets.SIMKUBE_RUNNER_PAT }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
