---
name: Test

on: [workflow_dispatch, pull_request]  # yamllint disable-line rule:truthy

jobs:
  test-run:
    uses: ./.github/workflows/run.yml
    with:
      simulation-name: test-sim
      duration: 5m
      instance-type: c7a.xlarge
      trace-file: ./cronjob.sktrace
    secrets: inherit
