---
name: Test run simulation action

on: [workflow_dispatch, pull_request]  # yamllint disable-line rule:truthy

jobs:
  test-run:
    uses: ./.github/workflows/run.yml
    with:
      simulation-name: test-sim
      duration: 5m
      instance-type: c7a.xlarge
      trace-path: ./cronjob.sktrace
    secrets:
      SIMKUBE_RUNNER_PAT: ${{ secrets.SIMKUBE_RUNNER_PAT }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
